.btnn {
    background-color: #5fcac7 !important;
    color: white !important;
    border-radius: 30px;
}

.carousel-caption {
    position: absolute;
    top: 15%;
    left: 8%;
    right: auto;
    bottom: auto;
    text-align: left;
    max-width: none;
}

.carousel-caption h1 {
    white-space: nowrap;
}

.carousel-caption h2 {
    max-width: 420px;
}

.magic-section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(95, 202, 199, 0.9), rgba(95, 202, 199, 0.9)),
        url("./images/macarons-bg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magic-box {
    border: 2px solid white;
    border-radius: 15px;
    padding: 80px 40px;
    color: white;
}

.magic-box .icon {
    font-size: 45px;
    margin-bottom: 20px;
}

.magic-box h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.magic-box p {
    max-width: 520px;
    margin: 0 auto 30px;
    font-size: 16px;
}
.pink{
  color: #ff91a4;
}
.back{
  background-color: #eeeeee !important;
  background-image: url(./images/bakery24-1-1200x800.jpg);
}
.hulk{
  border-radius: 300px;
}

.magic-sectionc{
background-image: url(./images/bakery26-1200x800.jpg) ;
  min-height: 100vh;
    width: 100%;
    background: linear-gradient(#ff91a4),
        url("./images/macarons-bg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magic-boxx {
    border-radius: 15px;
    padding: 80px 40px;
    color: white;
}

.magic-box .icon {
    font-size: 45px;
    margin-bottom: 20px;
}

.magic-box h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.magic-box p {
    max-width: 520px;
    margin: 0 auto 30px;
    font-size: 16px;
}
.pink{
  color: #ff91a4;
}
.back{
  background-color: #eeeeee !important;
  background-image: url(./images/bakery24-1-1200x800.jpg);
}
/* .hulk{
  border-radius: 300px;
} */

.pic1{
  border-radius: 70px;
}
.bakerr{
  color: gray !important;
}
.FAQ{
  background-color: rgb(243, 242, 244) !important;
}
.para{
  color: #5fcac7;
}
.table-faq-wrapper {
  display: flex;
  gap: 40px;           
  align-items: flex-start;
}

.table-section {
  flex: 3;
}

.faq-section {
  flex: 1;             
  padding: 25px;
  background: #f8f9fa;
  text-align: center;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 16px 20px;
  border: 1px solid #ddd;
}

@media (max-width: 992px) {
  .table-faq-wrapper {
    flex-direction: column;
  }
}
.foot{
  background-color: #2a2a2a !important;
}
.colo{
background-image: url(./images/bakery3-2-1200x800.jpg) !important;
}
.light{
  color: white;
}